.homeButton {
  transition: all 0.2s ease-in-out;
}

.homeButton:hover {
  transform: scale(1.1);
}

.fc-scrollgrid {
  background-color: #ffffff;
}

.fc-today-button {
  background-color: #ee6a59 !important;
  border-color: #ee6a59 !important;
  font-weight: bold;
  margin-left: 5px !important;
}

.fc-prev-button,
.fc-next-button {
  background-color: #99658a !important;
  border-color: #99658a !important;
}

.fc-daygrid-event-harness,
.fc-daygrid-event,
.fc-event-main {
  background-color: #8dc6bf;
  border-color: #ebf1f0;
}

.fc-day-today {
  background-color: #f4f0f0 !important;
}
